body {
    font-size: 1.6rem; 
    font-family: $font-text;
}

.header {
    font-family: $font-heading;
    font-size: 6rem; 
    line-height: 6.3rem;
}

h1,
h2,
h3,
h4 {
    font-family: $font-heading;
}