.container {
    margin: 0 15rem; 
    z-index: 1;

    @include respond(tab-port) {
        margin: 0 6rem;
    }

    @include respond(phone) {
        margin: 0 3rem; 
    }
}

.padding-top-lg {
    padding-top: 6rem; 
}
.margin-top-xl {
    margin-top: 8rem; 
}