// Primary Colors

$color-primary-dark-violet: hsl(256, 26%, 20%);
$color-primary-grayish-blue: hsl(216, 30%, 68%);

// Neutral Colors

$color-neutral-dark-violet: hsl(270, 9%, 17%);
$color-neutral-grayish-violet: hsl(273, 4%, 51%);
$color-neutral-light-gray: hsl(0, 0%, 98%);

// Fonts

$font-heading: 'DM Serif Display', serif;
$font-text: 'Karla', sans-serif;