.button {
    border: none; 
    background: transparent;
	color: inherit;
	border: 1px solid black;
	padding: .8rem 2.3rem;
	font-family: inherit;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;

    &--white {
        border: 1px solid white; 
    }

    &:focus {
        outline: none;
    }
}
